* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}

.containerCard {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

 width: 100%;
 height: 100%;
}
