.containerCadastroLocal {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100%;
 width: 100%;
 background-color: #e5e5e5;
}

.logoCadastro {
 display: flex;
 justify-content: center;
 align-items: center;
}

.cadastroFormLocal .logoCadastroLocal img {
 width: 150px;
 height: 150px;
}

.cadastroFormLocal {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 height: 100%;
 width: 100%;
}

.cadastroFormLocal form {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 800px;
 width: 700px;
 gap: 30px;
 background-color: white;
 border-radius: 15px;
}

.cadastroFormLocal img {
 width: 100px;
 height: 100px;
 margin-top: 30px;
}

.gridNomeLocal {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 30px 30px;
 width: 42rem;
}

.gridNomeLocal div {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 2rem;
}

.gridNomeLocal input {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 0;
}

.dadosEndereco {
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: center;
 align-items: center;
 gap: 30px 30px;
 width: 10rem;
 height: 2rem;
}

.dadosEndereco div {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 20rem;
 height: rem;
}

.dadosEndereco input {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 30rem;
 height: 0;
}

.cadastroFormLocal form .containerSelecoes {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 margin-top: 90px;
}

.containerSelecoes .atividades {
 display: flex;
 justify-content: center;
 align-items: flex-start;
 flex-direction: column;
 width: 100%;
 height: 100%;
}

.containerButtonCadastro {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 margin-top: 15px;
 gap: 20px;
}

.containerButtonCadastro .buttonDashBoard {
 background-color: white;
 color: #1976d2;
 font-weight: bold;
}

.containerButtonCadastro .buttonCadastrar:hover {
 background-color: white;
 color: #1976d2;
 font-weight: bold;
}

.containerButtonCadastro .buttonDashBoard:hover {
 background-color: #1976d2;
 color: white;
 font-weight: bold;
}

@media (min-width: 320px) and (max-width: 1024px) {
 .cadastroFormLocal {
  width: 100%;
  height: 100%;
 }

 .cadastroFormLocal form {
  width: 100%;
  height: 100%;
  border-radius: 0;
 }

 .containerButtonCadastro {
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .containerButtonCadastro button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
 }
}
